

.img-back-glow {
  transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
}
.img-back-glow:hover {
  box-shadow: 0 0 20px rgba(127, 0, 224, 0.413);
}

.compound-project-img {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(120, 118, 118, 0.3); /* Increased spread and opacity */
  transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
}

.compound-project-img:hover {
  box-shadow: 0 0 20px rgba(127, 0, 224, 0.413);
  /* Increased spread, blur, and opacity */
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  transition: color 0.2s ease;
}
td.icon {
  cursor: pointer;
  border-radius: none;
  /* transition: color 0.2s ease; */
}
.icon:hover {
  color: var(--main-color);
}


.compound-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-inline: 5rem;
}

.compound-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.project-img-compound {
  height: 600px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(120, 118, 118, 0.3);
  transition: box-shadow 0.3s ease;
}
.compound-form-chart-images {
  height: 500px;
  border: 0.5px solid #bbbbbb;
  margin: 0 auto;
  border-radius: 15px;
}

.patient-screen-image {
  height: 500px;
  border: 0.5px solid #bbbbbb;
  margin: 0 auto;
  border-radius: 15px;
}

.grid-item {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .compound-main-container {
    margin-inline: 0rem;
  }
  .compound-grid-container {
    display: flex;
    flex-direction: column;
  }
  .compound-project-img {
    width: 350px;
  }
  .compound-form-chart-images {
    height: 250px;
  }
  .yahoo-img {
    height: 300px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .compound-grid-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }
  .compound-project-img {
    width: 450px;
  }
}
