
.cv-button {
  background-size: 11px;
  opacity: 0.6;
  font-weight: 800;
  font-size: 50px;
}

.hero {
  height: 100vh-100px;
  margin-top: 20%;

  /* for LapTops */
  @media (max-height: 1000px) {
    margin-top: 17vh;
  }
}

.hero-social-icon {
  cursor: pointer;
  /* color: #6b5aed; */
  color: #4938c4;
  transition: color 0.2s ease;
}
.hero-social-icon:hover {
  color: var(--main-color);
}
