.menu-bar {
  height: 100px;
  /* background-color: rgb(112, 144, 172); */
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.menu-text {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-size: 0.75em;
  font-weight: 600;

  color: #0f1b61;
}

.menu-links-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  margin-right: 30px;
}

.menu-text-number {
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-weight: 600;
  color: var(--main-color);
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
  margin: auto 30px;
}
