/* .project-img {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(120, 118, 118, 0.2);
}
.project-img:hover {
  box-shadow: 0 0 5px rgba(127, 0, 224, 0.5);
} */

.img-back-glow {
  transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
}
.img-back-glow:hover {
  box-shadow: 0 0 20px rgba(127, 0, 224, 0.413);
}

.planify-project-img {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(120, 118, 118, 0.3); /* Increased spread and opacity */
  transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
}

.planify-project-img:hover {
  box-shadow: 0 0 20px rgba(127, 0, 224, 0.413);
  /* box-shadow: 0 0 20px rgba(12,107,203, 0.7);  */
  /* Increased spread, blur, and opacity */
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  transition: color 0.2s ease;
}
td.icon {
  cursor: pointer;
  border-radius: none;
  /* transition: color 0.2s ease; */
}
.icon:hover {
  color: var(--main-color);
}

div.show-more {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3.show-more {
  display: inline-block;
  margin-top: 0;
}
/* h3.show-more:hover {
  text-shadow: 0 0 20px rgba(12, 107, 203, 0.55);
  color: var(--main-color);
} */
h3.show-more:hover {
  /* text-shadow: 0 0 20px rgba(127, 0, 224, 0.413); */
  text-shadow: 0 0 40px rgba(12, 107, 203, 0.55);
  color: var(--main-color);
}

.show-more-icon,
.show-less-icon {
  color: var(--main-color);
}

.show-less-icon {
  transform: rotate(180deg); /* Rotate the icon 180 degrees */
}

.show-more-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  margin-inline: 5rem; /* You can use margin-left and margin-right instead */
  padding: 3rem;
  border: 0.1px solid #c1c1c1;
  border-radius: 17px;
  /* background-color: #f6f5ff; */
  background-color: #f5f6ff;
  /* background-color: #eceafa; */
  box-shadow: 0 0 10px rgba(120, 118, 118, 0.1); /* Increased spread and opacity */
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 30%;
}

th,
td {
  border: 0.5px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: left;
  border-radius: 8px;
}

.main-dashboard-image {
  height: 250px;
  /* width: auto; */
  border: 0.5px solid #bbbbbb;
  margin: 0 auto;
  border-radius: 15px;
}

.patient-screen-image {
  height: 500px;
  /* width: auto; */
  border: 0.5px solid #bbbbbb;
  margin: 0 auto;
  border-radius: 15px;
}

.planify-grid-container {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); */

  display: flex;
  justify-content: space-around;
}

.planify-grid-left-section {
  grid-column: 1 / 2; /* Span from column 1 to column 2 */
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}

.planify-grid-right-section {
  grid-column: 2 / 3; /* Span from column 2 to column 3 */
}

.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  /* font-size: 30px; */
  /* text-align: center; */
}

.tech-stack-grid-container {
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  /* gap: 10px; */
  /* background-color: #2196f3; */
  /* padding: 10px; */
}

/* .tech-stack-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

.tech-card-container {
  display: flex;
  justify-content: center;
  padding: 1rem 1.5rem;
  border: 0.5px solid #7f00e0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(120, 118, 118, 0.2);
  margin-right: 1rem;
  margin-bottom: 1rem;
  /* font-weight: bold; */
}

/* Small screen size */
@media only screen and (max-width: 600px) {
  .planify-grid-container {
    background-color: rgba(0, 255, 255, 0.307);
    /* display: flex; */
    /* flex-direction: column; */
    /* max-width: 500px; */
  }
  .planify-project-img {
    width: 100%;
  }
}

/* Medium screen size */
/* @media only screen and (min-width: 601px) and (max-width: 1024px) { */
@media only screen and  (max-width: 1155px) {
  .planify-grid-container {
    background-color: rgba(217, 0, 255, 0.109);

    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .planify-project-img {
    /* width: 100%; */
  }
  .planify-grid-right-section {
    max-width: 500px;
    text-align: center;
  }
}

/* Large screen size */
@media only screen and (min-width: 1025px) {
  /* Styles for large screens */
}
